# Core Dependencies
fastapi
uvicorn
sqlalchemy
databases
psycopg2-binary
asyncpg
alembic
pydantic
pydantic-settings
pytest
pytest-asyncio
Pyro4
fastapi[all]
httpx
async_asgi_testclient
aiosqlite

# Development and Documentation
black
isort
mypy
sphinx
pre-commit

# Docker Dependencies
docker
docker-compose